.card {
    display: block;
     text-align: center;

}

.card__img {
  margin-bottom: 45px;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 25px;
  }

  
}

.card__img img {
    margin-left: auto;
  margin-right: auto;
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  /* Tablet */
  @media (max-width: 1199px) {

    min-height: 48px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  /* Mobile */
  @media (max-width: 899px) {
  min-height: 0px;
  }
}
.card__text {
font-weight: 500;
font-size: 14px;
line-height: 30px;
color: $paragraphColor;

/* Tablet */
@media (max-width: 1199px) {
  line-height: 22px;
}
}
