.slider {
  position: relative;
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  background: #f5f5f5;
  border-radius: 50%;
  border: none;
  position: absolute;
  cursor: pointer;

  &--left {
    top: 56px;
    left: -47px;
    transform: translateX(-100%);

    /* Tablet */
    @media (max-width: 1199px) {
      left: -20px;
      top: 56px;
    }

    /* Mobile */
    @media (max-width: 899px) {
      left: -45px;
      top: 68px;
    }
  }

  &--right {
    position: absolute;
    top: 53px;
    right: -47px;
    transform: translateX(100%);

    /* Tablet */
    @media (max-width: 1199px) {
    right: -20px;
    top: 53px;
    }

    /* Mobile */
    @media (max-width: 899px) {
      right: -45px;
      top: 68px;
    }
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    display: none;
  }
  
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-item__text {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;

  p {
    margin-bottom: 15px;
  }

  /* Tablet */
  @media (max-width: 1199px) {
    line-height: 1.5;
    margin-bottom: 15px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    font-size: 16px;
    margin-bottom: 5px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__autor {
  display: flex;
  align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  /* Mobile XS */
  @media (max-width: 599px) {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

.slider-item__author-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #808080;

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}

.slider__pagination {
  display: flex;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 100%);

  /* Mobile */
  @media (max-width: 899px) {
      bottom: -30px;
  }
  
}

.slider__pagination-item {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background: #e1e1e1;

  &:last-child {
    margin-right: 0px;
  }
}

.slider__pagination-item--active {
  background: #00c470;
}
