.section-functional {
    padding-top: 80px;  
    padding-bottom: 80px;

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-top: 40px;
        padding-bottom: 40px;
     }
}

.section-functional .container {
    /* Mobile */
    @media (max-width: 899px) {
        padding-left: 0;
        padding-right: 0;
    }
}
.section-functional__header {
  text-align: center;
}
.section-functional__title {
    margin-bottom: 40px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 30px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 20px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 10px;
     }
}

.section-functional__subtitle {
    margin-bottom: 73px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 60px; 
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 40px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
    margin-bottom: 45px;
     }
}

.section-functional__row {
    /*margin-left: -15px;
    margin-right: -15px;*/
    display: flex;
    /*justify-content: center;*/
    justify-content: space-between;
    align-items: center;
    text-align: center;

    /* Tablet */
    @media (max-width: 1199px) {
    justify-content: center;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-top: -30px;
        flex-wrap: wrap;
    }
    
    /* Mobile XS */
    @media (max-width: 599px) {
        margin-top: -40px;
     }
}

.section-functional__row > * {
    padding-left: 15px;
    padding-right: 15px;
    flex-shrink: 0;
    width: 270px;

    /* Tablet */
    @media (max-width: 1199px) {
      width: 225px;
    }

    /* Mobile */
    @media (max-width: 899px) {
      width: 300px;
      margin-top: 30px;




    }

    /* Mobile XS */
    @media (max-width: 599px) {
      width: 320px;
      margin-top: 40px;

      &:last-child {
          margin-top: 45px;
      }
     }

}
